---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('../frammenti/*.md', { eager: true }));
const artists = [...new Set(allPosts.map((post: any) => post.frontmatter.artists).flat().sort())];
const title = "Cerca per band/artista";
const pageTitle = "Tutta la musica";
const abstract = "Cerca i frammenti per band/artista. Le parole sono raggruppate in base alla band o all'artista che ha composto la canzone associata. Clicca su una nome per visualizzare i frammenti associati.";
---
<BaseLayout 
  title={title}
  abstract={abstract}
  pageTitle={pageTitle}
>
  <div class="tags">
    {artists.map((artist) => (
      <p class="tag"><a href={`/musica/${artist}`}>{artist}</a></p>
    ))}
  </div>
</BaseLayout>