---
import BaseLayout from './BaseLayout.astro';
import AudioPlayer from '../components/AudioPlayer.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.intro.name}>
  <h2>Frammento di {frontmatter.intro.kind}</h2>
  <h3>{frontmatter.intro.qualifier}</h3>
  <p>Pubblicato il {frontmatter.prettyDate}</p>
  <slot />
  <p>Play {frontmatter.song.youTubeId}</p>
  {frontmatter.song.youTubeId && <AudioPlayer youTubeId={frontmatter.song.youTubeId} />}
  <h2>Parole</h2>
  <div>
    {frontmatter.tags.map((tag: string) => (
      <p><a href={`/parole/${tag}`}>{tag}</a></p>
    ))}
  </div>
  <h2>Musica</h2>
  <div>
    {frontmatter.artists.map((sound: string) => (
      <p><a href={`/musica/${sound}`}>{sound}</a></p>
    ))}
  </div>
</BaseLayout>